<h1><%= @prefix %>Narratives:</h1>

<ul>
    <% @narratives.each do |narrative| %>
        <li><%= link_to narrative.title, narrative_path(narrative) %></li>
    <% end %>
</ul>

<% if !@personal_viewing %>
    <h1>Private Narratives:</h1>
    <ul>
        <% @private_narratives.each do |narrative| %>
            <li><%= link_to narrative.title, narrative_path(narrative) %></li>
        <% end %>
    </ul>
<% end %>