<h1><%= @prefix %>Documents<%= @suffix %>:</h1>
<ul>
    <% @documents.each do |document| %>
        <li><%= link_to document.title, narrative_document_path(document.narrative, document) %></li>
    <% end %>
</ul>